*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:linear-gradient(135deg,#a855f7,#d8b4fe);
  min-height:100vh;
  text-align:center;
  color:white;
  overflow-x:hidden;
}

/* TITULO */

h1{
  margin:25px;
  font-size:2.5em;
  text-shadow:0 3px 10px rgba(0,0,0,.3);
}

/* CONTENEDOR */

.container{
  max-width:1100px;
  margin:auto;
  padding:20px;
}

/* GALERIA */

.galeria {
  width: 100%;
  max-width: 1000px; /* ajusta si quieres más ancho */
  margin: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 20px; /* espacio entre fotos */
}

.galeria img {
  width: 100%;
  height: 220px; /* todas iguales */
  object-fit: cover; /* no se deforman */
  border-radius: 15px;
}

.foto{
  border-radius:18px;
  overflow:hidden;
  cursor:pointer;
  box-shadow:0 12px 25px rgba(0,0,0,.35);
  transition:.4s;
  border-radius: 70px;
  border-style: h;
  justify-content: center;
}

.foto:hover{
  transform:scale(1.08);
}

.foto img{
  width:100%;
  height:100%;
  object-fit:cover;
  justify-content: center;
}

/* BOTON */

button{
  background:#fff;
  color:#9333ea;
  border:none;
  padding:15px 35px;
  border-radius:35px;
  font-size:1.1em;
  cursor:pointer;
  transition:.3s;
  box-shadow:0 8px 20px rgba(0,0,0,.3);
}

button:hover{
  background:#f3e8ff;
  transform:scale(1.1);
}

/* MODAL */

.modal{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.75);
  justify-content:center;
  align-items:center;
  z-index:50;
}

.modal-content{
  background:linear-gradient(135deg,#9333ea,#c084fc);
  padding:35px;
  border-radius:22px;
  width:90%;
  max-width:450px;
  animation:subir .9s ease;
  box-shadow:0 15px 40px rgba(0,0,0,.5);
}

@keyframes subir{
  from{
    transform:translateY(80px);
    opacity:0;
  }
  to{
    transform:translateY(0);
    opacity:1;
  }
}

.close{
  margin-top:20px;
}

/* FOTO MODAL */

.foto-modal img{
  width:100%;
  border-radius:15px;
  margin-bottom:15px;
}

#fraseFoto{
  font-size:1.1em;
}

/* CORAZONES */

#corazones{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index:40;
}

.heart{
  position:absolute;
  font-size:28px;
  animation:caer 5s linear forwards;
  opacity:.9;
}

@keyframes caer{
  from{
    transform:translateY(-80px) scale(1);
    opacity:1;
  }
  to{
    transform:translateY(120vh) scale(.4);
    opacity:0;
  }
}

/* FLASH */

#flash{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:white;
  opacity:0;
  pointer-events:none;
  z-index:45;
  transition:opacity .8s;
}

/* CARTA ROMANTICA */

.carta{
  background:rgba(255,255,255,0.15);
  padding:25px;
  border-radius:18px;
  max-height:60vh;
  overflow-y:auto;

  font-size:1.05em;
  line-height:1.8;
  text-align:left;

  box-shadow:0 8px 25px rgba(0,0,0,.3);
  backdrop-filter:blur(10px);
}

/* Scroll bonito */

.carta::-webkit-scrollbar{
  width:6px;
}

.carta::-webkit-scrollbar-thumb{
  background:#e9d5ff;
  border-radius:10px;
}

.carta::-webkit-scrollbar-track{
  background:transparent;
}
